* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-bg-color: #0d2356;
  --btn-bg-color-selected: #143581;
  --btn-shadow: #2a385a;
  --color-text: #202020;
}
body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 36px;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

header {
  background-color: #f2f2f2;
  position: fixed;
  width: 100%;
  top: 0;
}

nav {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav > .logo {
  display: inline-block;
  height: 100px;
  margin-top: 20px;
  vertical-align: top;
}

.enlaces > ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.enlaces > ul > li {
  display: inline-block;
  margin-left: 1rem;
}
.enlaces > ul > li > a {
  display: block;
  padding: 10px 10px;
}

.btn {
  background-color: var(--btn-bg-color);
  border-radius: 3px;
  box-shadow: 0 2px 5px var(--btn-shadow);
}
.btn:hover {
  background-color: var(--btn-bg-color-selected);
}
.btn > a {
  color: #f2f2f2;
}

/* Body styles */

.container {
  margin-top: 130px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 12rem;
}
.description > h1 {
  font-size: 4vmax;
}
.description > p {
  font-size: 2rem;
}
.description > ul > li {
  font-size: 2rem;
}

.image {
  background-color: #143581;
}
.img {
  display: block;

  width: 950px;
}
.schedule-module {
  background-color: green;
  width: 800px;
  position: absolute;
  left: 20%;
  top: 67%;
}
